<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title> eventNew </title>
  </head>
  <body>

    <form class="" action="/event/new" method="post">
      <input type="text" name="eventname" value="" placeholder="eventname">
      <input type="text" name="date" value="" placeholder="date">
      <input type="text" name="time" value="" placeholder="time">
      <input type="text" name="location" value="" placeholder="location">
      <button type="submit" name="button"> 제 출 </button>
    </form>

  </body>
</html>
